* {
    font-family: Calibri, Helvetica, sans-serif;
}

body {
    background: url(gfx/background.png) repeat;
}

#content {
    position: absolute;
    width: 550px;
    top: 50px;
    left: 50%;
    margin-left: -300px;
    background-color: #cccccc;
    border-radius: 10px;
    padding: 25px;
}

#userInfo {
    display: none;
}

#devInfo {
    display: none;
}

#devInfoSend {
    background-color: coral;
}

#devInfoRecieved{
    background-color: coral;
}

.info{
    margin-top: 25px;
    border: solid black 1px;
    width: 530px;
    padding: 10px;
    border-radius: 10px;
}

.button{
    float: right;
}